$buckets:11;
$circleSize: 2px;
$column-padding: 5px;

$small: "max-width: 767px";
$medium: "min-width: 768px";
$medium-down: "max-width: 1199px";
$large: "min-width: 1200px";

body {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 0;
}

.set {
  display: flex;
  margin: 5px;
}
.map {
  margin: 5px;
}

.pixel {
  width: 1px;
  height: 1px;
  // border: 1px solid gray;
}

.pixel-row {
  display: flex;
}

.box {
  width: $circleSize * ($buckets);
  height: $circleSize * ($buckets);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: $column-padding;
  margin-right: $column-padding;
  // border: 1px solid gray;
}

.row {
  display: flex;
  // margin-top: (($buckets) * $circleSize + 1) * -1/2;

  &:nth-child(2n) {
    margin-left: (($buckets)* $circleSize + $column-padding * 2) / 2;
  }
}

.circle {
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: red;
}

@for $i from 1 through $buckets {
  .size-#{$i} {
    width: $i * $circleSize;
    height: $i * $circleSize;
  }
}

.page {
  padding:20px;
  font-family: sans-serif;
}

@mixin hideEverything {
  .page {
    padding: 0;
  }
  .set, .map {
    margin: 0;
  }
  h1, h2, .img, p, .only-mobile {
    display: none;
  }

  .circle {
    background-color: white;
    color: transparent;
  }

  .light .circle {
    border-color: lightgray;
  }

  .medium .circle {
    border-color: #888;
  }

  .dark .circle {
    border-color: black;
  }
}

.hide-everything {
  // @include hideEverything;
}

.hidden,
.hide-client {
  display: none;
}

.only-mobile {
  display: none;
}

@media($small) {
  .only-mobile {
    display: block;
  }

  .sample {
    display: inline-flex;
    width: 30%;
    height: 30px;
  }
}

@media($medium-down) {
  .sample {
    display: inline-block;
    width: 100px;
    height: 30px;
  }
}

@media print {
  @include hideEverything;
  .page {
    height: 100%;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
  }
}
