#controls {
  margin-top: 10vh;
  height: 10vh;
}
#controls div {
  height: 10vh;
  border: 1px solid black;
  font-size: 3vw;
  line-height: 9vh;
  text-align: center;
}
#controls #expired {
  background-color: red;
}
#controls #own {
  background-color: yellow;
}
#controls #add {
  color: blue;
}
#results {
  width: 100%;
  height: 5vh;
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-size: 1vw;
}
#addingArea {
  display:none;
  margin-top: 5vh;
}
#addText {
  width: 75%;
}
#song {
  font-size: 4vh;
  text-align: center;
}

@media (min-width: 800px) {
  body, input, button, button.btn {
    font-size: 3vw;
  }
}
