$small: "max-width: 500px";
$darkgreen: #2a7453;
$green: #42b983;
$lightgreen: #a6ffd7;
$yellow: #9ea929;
$red: rgb(206, 14, 14);
$blue: #2099da;
$gray: rgb(153, 158, 165);


h1 {
    font-size: 1.5rem;
}
h3, h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    &:first-child {
        margin-top: 0;
    }
}

.green, .perfect {
    color: $green;
}

.yellow {
    color: $yellow;
}

.red {
    color: $red;
}