.expired, table.dataTable tbody tr.expired {
  background-color: #FF9B96;
}
.own, table.dataTable tbody tr.own {
  background-color: #FFF9C4;
}

body {
  padding: 5px;
}

.clickme {
  cursor: pointer;
  display: inline-block;
}
#tooltip, #filter-own label {
  cursor: pointer;
}
.rb-tooltip {
  margin-top:5px;
}

.tooltip-icon {
  color: lightseagreen;
}
.superscript {
  color: #FF9B96;
}

#list_wrapper #list_filter {
  position: fixed;
  top:0; left: 0;
  background: white;
  padding-left: 5px;
  padding-right: 3px;
  margin: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0px 0px 5px 0px;
}
#list_wrapper #list_filter input {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 3px;
  margin-right: 3px;
}
.top-container {
  border: 1px solid lightseagreen;
  background-color: #E3F5F4;
  border-radius: 100%;
  position: fixed; bottom: 5px; right: 5px;

}
.top-container i {
  color: lightseagreen;
  font-size: 2.5vh;
  padding: 1vh;
  cursor: pointer;
  top: -1px;
}
.checkbox {
  margin: 0;
  text-align: right;
}

table th:nth-child(3), table td:nth-child(3) {
  display: none;
}

.click-container {
  display: flex;
  margin-top: 2.2em;
}
.click-container .clickme {
  flex: 1;
}
.click-container #filter-own {
  flex: 1;
}
.click-container #onlyOwned {
  margin-right: 10px;
}

/*iphone portrait*/
@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 800px)
  and (orientation: portrait)
{
  body, table {
    font-size: 16px;
  }
  .checkbox {
    margin-top: 5px;
  }
  .checkbox input[type=checkbox]{
    margin-left: -33px;
    transform: scale(2,2);
    height : 1.2em;
  }
  #tooltip {
    font-size: 14px;
  }
}

/*ipad*/
@media only screen
  and (min-device-width: 768px)
{
  body, table {
    font-size: 22px;
  }
}

/*desktop*/
@media only screen
  and (min-device-width: 1024px)
{
  body, table {
    font-size: 16px;
  }
}
