@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);

$secondary-color: #707070;
$larger-font: 1.2em;
$link-color: mediumblue;
$em-color: darkorange;

@mixin secondary {
  color: $secondary-color;
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: all 0.5s;
  color: $link-color;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid $link-color;
  }
}

ul {
  margin-top: 1em;
  padding-left: 1em;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0;
}

// TODO
.skillset {
  display: none;
}

.silly {
  display: none;
}

// note that I find this a bit douche-y
.em {
  color: $em-color;
  font-weight: bold;
}

header {
  margin-top: 1em;
  ul.basic-info {
    list-style: none;
    padding: 0;
    margin: 0.5em 0;
    li {
      text-align: center;
    }
  }
  h1 {
    text-align: center;
    font-variant: small-caps;
  }
}


footer {
  background-color: #f3f3f3;
  section {
    padding: 1em;
  }
  ul {
    margin: 0;
    list-style: none;
  }

}

.resume {
  margin: 0.5em 1em 1em;
  h2 {
    font-variant: small-caps;
    border-bottom: 1px solid $secondary-color;
  }
  section > ul {
    list-style: none;
  }
  ul.experience-items {
    list-style: square;
  }
  .title {
    font-weight: bold;
    margin-right: 6px;
  }
  .experience > li {
    margin-bottom: 1.4em;
  }
  .title, .business {
    font-size: $larger-font;
  }

  .location, .dates {
    @include secondary;
  }
}

@media only screen and (min-width: 500px) {
  .title, .business {
    display: inline-block;
  }
  .title {
    &::after {
      content: ',';
    }
  }
  header .basic-info {
    display: flex;
    li {
      flex: 1;
    }
  }
  footer {
    display: flex;
    section {
      flex: 1;
    }
  }
}
