table{
    border-collapse: collapse;
    font-family: 'Arial';
}
table #header th{
    font-size: 1.5em;
    height: 30px;
    font-weight: bold;
}
table #freeSpace{
    font-size: 2em;
}
table td, table th{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    height: 100px; width: 20%;
    vertical-align: middle;
    transition: background-color 0.2s;
}
table .title{
    font-size: 1.1em;
    display: block;
}
table .info{
    font-size: 0.75em;
    display: block;
}
.taken{
    background-color: grey;
}
.winning{
    background-color: gold;
}

/*phone size*/
@media only screen 
  and (min-width: 321px)
  and (max-width: 480px)
{
    table th{
        display:none;
    }
    table td{
        padding: 2px;
    }
    table #freeSpace{
        font-size: 1em;
    }
    table .title{
        font-size: 0.8em;
        font-weight: bold;
    }
    table .info{
        font-size: 0.75em;
    }
} 

/*phone size*/
@media only screen 
  and (max-width: 320px)
{
    table th{
        display:none;
    }
    table td{
        padding: 2px;
        height: 60px;
    }
    table #freeSpace{
        font-size: 1em;
    }
    table .title{
        font-size: 0.6em;
        font-weight: bold;
    }
    table .info{
        font-size: 0.5em;
    }
} 